[submodule "no-press-wp"]
	path = no-press-wp
	url = git@github.com:radu-m/no-press-wp.git
[submodule "no-press-angular"]
	path = no-press-angular
	url = git@github.com:radu-m/no-press-angular.git
[submodule "no-press-react"]
  path = no-press-react
  url = git@github.com:radu-m/no-press-react.git
[submodule "no-press-elm"]
  path = no-press-elm
  url = git@github.com:radu-m/no-press-elm.git
